.description {
  color: green;
  cursor: pointer;
  text-decoration: underline;
}
.description:hover {
  color: red;
  text-decoration: none;
}
.descriptionText {
  cursor: pointer;
}
.descriptionText:hover {
  color: green;
}
.productimg:hover{
  cursor: pointer;
}
